@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
body, a {
  font-family: 'Montserrat', sans-serif;
  color: #2E434E;
}
p, a{
  font-family: 'Inter', sans-serif;
}
.text-monte{
  font-family: 'Montserrat', sans-serif;
}
/* ==========================================================================
navbar 
=============================================================================== */
.navbar-expand-lg .navbar-nav .nav-link{
  padding:13px 25px;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 600;
  color:#99A3A8;
  font-family: 'Montserrat', sans-serif;
  letter-spacing:1px;

}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link{
  color:#2E434E;
  font-weight: 600;
  border-bottom:1px solid#FDB813;
}

.img-logo{
  width: 8rem;
}
.second-nav .nav-item .nav-link.online-pad{
  padding: 37px 15px!important;
  margin: 0!important;
}

.navbar .laptop-nav a:hover{
  border-bottom:1px solid#FDB813;
  border-top-left-radius: 5px!important;
  border-top-right-radius: 5px;
  
}

.navbar-expand-lg .second-nav .navbar-nav .nav-link{
  padding:12px 0px;
  margin: 0 25px;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 600;
  color:#2E434E;
  font-family: 'Montserrat', sans-serif;
  letter-spacing:1px;

}


/* end of navbar  */

/* home page  */
.hero-img{
  max-height: 50rem;
}
.hero-box{
  background-color: rgba(28, 40, 47, 0.4);
  max-width: 30rem;
  margin: auto;
  padding: 2.5rem;
  backdrop-filter: saturate(100%) blur(7px);
}
.carousel-new-caption{}



/* reusable components  */
.btn.btn-primary{
  background: #FDB813;
  font-weight: 500;
  border: 0;
  color: #2E434E;
  border-radius: 0px!important;
}
.btn.btn-primary:hover{
  background-color: rgb(247, 213, 45);
}
.bg-light-gray{
  background-color: #F0F2F2;
}
.tx-neutral{
  color: #6D7B83;
}
.card-pad{
  padding: 2.5rem;
}
/* .card-pad-footer */
.list-none{
  list-style-type:none;
}
.text-primary{
  color: #FDB813!important;
}
.bg-primary{
  background-color: #FDB813!important;
}
a{
  text-decoration: none;
}
.tx-14{
  font-size: 0.875rem;
}
.bg-gray-100{
  background-color: #F0F2F2;
}
.bg-gray-200{
background-color:#f7f7f7;
}
.tx-11{
  font-size: 11px;
}
.list-text{
  line-height: 1.6em;
  font-family: 'Inter', sans-serif;
  padding-bottom: calc(15px/2);
}
#myVideo {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 70vh;
    object-fit: cover;
}

.video-div {
  position: absolute;
  width: 100%;
  z-index: 999;
  bottom: 20px;
}

.feature{
  background-image: url('../img/happy-providus.jpg');
}
.feature2{
  background-image: url('../img/providus-customer.jpg');
}
.feature3{
  background-image: url('../img/providus-card.jpg');
}

.my-card-height{
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 450px;
  background-position: center;
  width: 100%;
}
/* 
.my-card-height:hover{
  transition-duration:1000ms;
  transform: scale(1.2)
} */

a:hover{
  color: #FDB813;
}
.bor-b{
  border-bottom: 2px solid #FDB813;
}
.icon-pad{
  padding: 0.65rem 0.9rem;
}

.dropdown-menu{
  left: auto!important;
  top: 95%!important;
  border-radius: 0!important;
  border: 0;
}
.dropdown:hover .dropdown-menu, .dropdown:hover .dropdown-menu.sub-dropdown {
  display: block;
  margin-top: 0;
}
.nav-item.dropdown .dropdown-menu{
  font-size: 10px;
  text-transform: uppercase;
  /* padding: 14px 20px; */
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  font-weight: 600!important;
}
.nav-item.dropdown .dropdown-menu a{
  font-weight: 600!important;
  padding: 14px;
}
.card{
  border-radius: 0!important;
}



/*==================================================
 mobile 
 =================================================*/
 .mobile-logo{
  width: 8rem;
 }
 .mobile-dropdown{
  /* position: fixed; */
  z-index: 1;
 }

 .mobile-dropdown {
  min-height: 40%;
  width: 0%;
  position: fixed;
  z-index: 999;
  top: 75px;
  left: 0;
  background-color: #2E434EAD;
  overflow-x: hidden;
  transition: 0.5s;
}
.fullWidth{
  width: 100%;

}
.mobile-content {
  position: relative;
  top: 0%;
  width: 100%;
  text-align: left;
  margin-top: 0px;
}

.mobile-dropdown a.nav-link {
  text-decoration: none;
  font-size: 12px;
  color: #fff;
  display: block;
  transition: 0.3s;
  padding: 12px 40px;

}

.mobile-dropdown a:hover, .mobile-dropdown a:focus {
  color: #f1f1f1;
  background-color: #2E434E;
}
.mobile-dropdown a.nav-link.active {
  background-color: #2E434E;
  color: #fff;
  border: 0;
}

.mobile-dropdown .mobile-collapse{
  background-color:   #2E434EAD;
  color: #fff;
  font-size: 12px;
  list-style: none;
  text-align: left;
  padding-left: 2.5rem;

}
.mobile-collapse a {
  padding:12px 0rem;
}
.mobile-collapse a:hover {
  background-color: #2E434E;
  color: #fff;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height:5px;
  background-color:#fff;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
.btn-toggler{
  background-color:#6D7B83!important;
  border-radius: 0;
  padding: 1.2rem 1rem;
  border: 0;
}